# python
*.pyc

# build directories
build
dist

# virtualenv files
bin
lib
man
include
.Python
/docs/_static
/docs/_templates
/docs/_build

# dcp store
screener/dcp_store

# config
screener/screener.cfg
